<footer>
    <div class="container">
        <div class="row p20">
            
            <div class="col-md-10 text-left mt25"><a target="_blank" href="http://www.buscotrabajocaba.com/politicas-de-privacidad">Políticas de privacidad</a></div>
            <div class="col-md-10 text-left mt25"><a target="_blank" href="http://www.buscotrabajocaba.com/sitemap.xml">Mapa del sitio</a></div>
            <div class="col-md-10 text-left mt25"><a target="_blank" href="http://www.buscotrabajocaba.com/sobre-nosotros">Sobre nosotros</a></div>
            <div class="col-md-10 text-left mt25"><a target="_blank" href="http://www.buscotrabajocaba.com/terminos-y-condiciones">Terminos y condiciones</a></div>
                
            <div class="col-md-10 text-center mt25"> <a target="_blank" href="http://www.bootstrat.site/"><img src="https://img.shields.io/badge/Built%20by-bootstrat-blue.svg" alt="{{site.built-by}}"></a></div>
                
            <div class="col-md-10 text-center mt25"> <a target="_blank" href="mailto:contacto@buscotrabajocaba.com"></a> </div>
        </div>
    </div>
</footer>
