<header class="site-header">

  
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    
        <nav class="navbar-brand" href="{{site.baseurl}}/buscotrabajoargentina.github.io/">
            <img src="{{site.baseurl}}/images/Sin-titulo-2.svg"  width="280" height="50" alt="logo"> 
        </nav>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.buscotrabajocaba.com/">Inicio</a></li>
            <li><a href="{{site.baseurl}}/">Blog</a></li>
            <li><a href="http://www.buscotrabajocaba.com/publica-tu-aviso/">Publicá tu aviso</a></li>
            <li><a href="http://www.buscotrabajocaba.com/contacto/">Contacto</a></li>
            
          </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#237afc"
        },
        "button": {
          "background": "#fff",
          "text": "#237afc"
        }
      },
      "position": "bottom-right",
      "content": {
        "message": "Este sitio utiliza cookies para proporcionarle la mejor experiencia posible.",
        "dismiss": "OK",
        "link": "Mostrar más",
        "href": "http://www.buscotrabajocaba.com/politicas-de-privacidad/"
      }
    });
    </script>
    